<body>
    <section class="main-container">
        <div class="box">
            <i class="fa-solid fa-bars-staggered"></i>
            <pre>PLAYING NOW</pre>
            <i id="icon" class="fa-regular fa-square-plus"></i>
        </div>

        <h2>A Magical Journey Through Space</h2>
        <p class="pre">-Leonell Cassio-</p>
        <link rel="stylesheet" href="./audio_library.css">
         <img src="./images/music.jpg" alt="">
         <hr>

         <div class="box1">
            <p class="number"> 00 : 00</p>
            <p class="number1">NaN : NaN</p>
         </div>

         <div class="box2">
            <i id="icon1" class="fa-solid fa-arrow-rotate-left"></i>
            <i id="icon2" class="fa-solid fa-backward-step"></i>
            <i id="icon3" class="fa-regular fa-circle-play"></i>
            <i id="icon2" class="fa-solid fa-forward-step"></i>
            <i id="icon2" class="fa-solid fa-shuffle"></i>
         </div>

         <div class="box2">
            <p class="music">Autumn</p>
            <p class="play-time">2:46</p>
         </div>

         <div class="box2">
            <i id="dot" class="fa-solid fa-circle"></i>
            <p class="play-time1">A Magical Journey Through Space</p>
            <p class="play-time2">3:49</p>
         </div>

         <div class="box2">
            <p class="music1">Burning Bridges</p>
            <p class="play-time3">4:02</p>
         </div>

         <div class="box2">
            <p class="music2">Cooking</p>
            <p class="play-time4">2:21</p>
         </div>

    </section>

</body>